@model CaseManagement.ViewModels.Cases.ViewUpdateCaseIOModel

<div class="row">
    <div class="col-12 mx-auto text-center">
        <section>
            <div class="col-4 mx-auto text-center">
                <h4>Case: @Model.Number</h4>
                <hr />

                @*Set in Cases controller's Create action with post method in case of successfull case creation*@
                @if (this.TempData["CaseCreatedSuccesffully"] as bool? == true)
                {
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Case created successfully.</strong>
                    </div>
                }

                @*Set in Cases controller's Update action with post method in case of successfull case update*@
                @if (this.TempData["CaseUpdatedSuccessfully"] as bool? == true)
                {
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Case updated successfully.</strong>
                    </div>
                }

            </div>
            <form asp-action="Update" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="form-group col-4">
                        <fieldset disabled="">
                            <label class="control-label" for="disabledInput">Created on</label>
                            <input class="form-control" id="disabledInput" type="text" value="@Model.CreatedOn" disabled="">
                        </fieldset>
                    </div>
                    <div class="form-group col-4">
                        <label>Case number</label>
                        <input asp-for="Number" class="form-control" />
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Status</label>
                        <select asp-for="StatusId" class="form-control">

                            @if (Model.StatusId == null)
                            {
                                <option value="">Select status</option>
                            }

                            @foreach (var status in Model.CaseStatuses)
                            {
                                if (Model.StatusId == status.Id)
                                {
                                    <option value="@status.Id" selected>@status.Status</option>
                                }
                                else
                                {
                                    <option value="@status.Id">@status.Status</option>
                                }
                            }

                        </select>
                        <span asp-validation-for="StatusId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Priority</label>
                        <select asp-for="PriorityId" class="form-control">

                            @if (Model.PriorityId == null)
                            {
                                <option value="">Select priority</option>
                            }

                            @foreach (var priority in Model.CasePriorities)
                            {
                                if (Model.PriorityId == priority.Id)
                                {
                                    <option value="@priority.Id" selected>@priority.Priority</option>
                                }
                                else
                                {
                                    <option value="@priority.Id">@priority.Priority</option>
                                }
                            }

                        </select>
                        <span asp-validation-for="PriorityId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Subject</label>
                        <input asp-for="Subject" type="text" class="form-control" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Type</label>
                        <select asp-for="TypeId" class="form-control">

                            @if (Model.TypeId == null)
                            {
                                <option value="">Select type</option>
                            }

                            @foreach (var type in Model.CaseTypes)
                            {
                                if (Model.TypeId == type.Id)
                                {
                                    <option value="@type.Id" selected>@type.Type</option>
                                }
                                else
                                {
                                    <option value="@type.Id">@type.Type</option>
                                }
                            }

                        </select>
                        <span asp-validation-for="TypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Service</label>
                        <select asp-for="ServiceId" class="form-control">

                            @if (Model.ServiceId == null)
                            {
                                <option value="">Select service</option>
                            }

                            @foreach (var service in Model.CaseServices)
                            {
                                if (Model.ServiceId == service.Id)
                                {
                                    <option value="@service.Id" selected>@service.ServiceName</option>
                                }
                                else
                                {
                                    <option value="@service.Id">@service.ServiceName</option>
                                }
                            }

                        </select>
                        <span asp-validation-for="ServiceId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-4">
                        <label>Description</label>
                        <textarea asp-for="Description" class="form-control" rows="11"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-dark">UPDATE</button>
            </form>
        </section>
    </div>
</div>

<div class="col-md-4 mx-auto text-center mt-5">
    <section>
        <h4>Tasks</h4>
        <hr />

        @*Set in Tasks controller's Create action with post method in case of successfull task creation*@
        @if (this.TempData["TaskCreatedSuccessfully"] as bool? == true)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Task created successfully.</strong>
            </div>
        }

        @*Set in Tasks controller's Update action with post method in case of successfull task update*@
        @if (this.TempData["TaskUpdatedSuccessfully"] as bool? == true)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Task updated successfully.</strong>
            </div>
        }

        <a class="btn btn-info" asp-controller="Tasks" asp-action="Create" asp-route-id="@Model.Id">Create Task</a>
    </section>
</div>

<div id="tasks-table" class="text-center">
    <table class="table table-hover border">
        <thead>
            <tr class="table-active">
                <th scope="col">Created on</th>
                <th scope="col">Action</th>
                <th scope="col">Next action</th>
                <th scope="col">Status</th>
                <th scope="col">Agent</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var taskModel in Model.Tasks)
            {
            <tr>
                <td>@taskModel.CreatedOn</td>
                <td>@taskModel.Action</td>
                <td>@taskModel.NextAction</td>
                <td>@taskModel.Status</td>
                <td>@taskModel.Agent</td>
                <td><a class="btn btn-warning p-1" asp-controller="Tasks" asp-action="ViewUpdate" asp-route-id="@taskModel.Id">VIEW/UPDATE</a></td>
            </tr>
            }

        </tbody>
    </table>

    @if (Model.Tasks.Length == 0)
    {
        <h6>No tasks available.</h6>
    }

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
