@model CaseManagement.ViewModels.DatacentersTimes.DatacentersTimesIndexOutputModel

@if (this.TempData["dcDeleted"] as bool? == true)
{
    <div class="row col-md-4 alert alert-dismissible alert-success mx-auto my-2">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Datacenter deleted successfully.
    </div>
}
@if (this.TempData["timeZoneDeleted"] as bool? == true)
{
    <div class="row col-md-4 alert alert-dismissible alert-success mx-auto my-2">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Time zone region deleted successfully.
    </div>
}

<div class="row col-md-12 mx-auto">
    @foreach (var region in Model.TimeZoneRegions)
    {
        <div class="col-md-8">
            <h5 class="text-center mt-2">@region.Name</h5>
            <table class="table table-hover border">
                <thead>
                    <tr class="table-active">
                        <th class="padding01rem" scope="col">Name</th>
                        <th class="padding01rem" scope="col">Tag</th>
                        <th class="padding01rem" scope="col">Date</th>
                        <th class="padding01rem" scope="col">24-hr time</th>
                        <th class="padding01rem" scope="col">12-hr time</th>
                        <th class="padding01rem" scope="col"></th>
                        @if (this.User.IsInRole("Lead"))
                        {
                            <th class="padding01rem" scope="col"></th>
                        }
                    </tr>
                </thead>
                <tbody>

                    @foreach (var datacenter in region.Datacenters)
                    {
                        <tr>
                            <td class="padding01rem">@datacenter.Name</td>
                            <td class="padding01rem">@datacenter.Tag</td>
                            <td class="padding01rem setFromJs" tzIanaName="@datacenter.TzIanaName" format="date"></td>
                            <td class="padding01rem setFromJs" tzIanaName="@datacenter.TzIanaName" format="24hr"></td>
                            <td class="padding01rem setFromJs" tzIanaName="@datacenter.TzIanaName" format="12hr"></td>
                            <td class="padding01rem setFromJs"
                                tzIanaName="@datacenter.TzIanaName"
                                openingAtDay="@datacenter.OpeningAtDay" openingAtTime="@datacenter.OpeningAtTime"
                                closingAtDay="@datacenter.ClosingAtDay" closingAtTime="@datacenter.ClosingAtTime"
                                format="openClose">
                            </td>
                            @if (this.User.IsInRole("Lead"))
                            {
                                <td class="padding01rem">
                                    <form asp-area="" asp-controller="DatacentersTimes" asp-action="DeleteDc" asp-route-id="@datacenter.Id" method="post">
                                        <input type="submit" value="&times;" title="Delete datacenter." class="btn btn-danger btn-sm px-2 py-1" />
                                    </form>
                                </td>
                            }
                        </tr>
                    }

                </tbody>
            </table>

            @if (region.Datacenters.Count() == 0)
            {
                <h6 class="text-center mx-auto">No datacenters available.</h6>
                @if (this.User.IsInRole("Lead"))
                {
                    <form asp-area="" asp-controller="DatacentersTimes" asp-action="DeleteTimeZoneRegion" asp-route-id="@region.Id" method="post" class="text-center mx-auto">
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete this time zone" />
                    </form>
                }
            }

        </div>
    }
    <div class="col-md-3 position-absolute mt-4 p-0 text-center" style="right:3rem;">
        <div class="form-group">
            <label>Vendor</label>
            <select id="vendorsSelect" class="custom-select">
                @foreach (var vendor in Model.VendorsWithRegions.Vendors)
                {
                    <option>@vendor.Name</option>
                }
                <option selected>Other</option>
            </select>
        </div>
        <div class="form-group">
            <label>Region</label>
            <select id="regionsSelect" class="custom-select">
                @foreach (var vendor in Model.VendorsWithRegions.Vendors)
                {
                    foreach (var region in vendor.Regions)
                    {
                        <option vendorName="@vendor.Name" value="@region.UtcOffset">@region.FullName</option>
                    }
                }
                <option value="0">UTC (0)</option>
            </select>
        </div>
        <div class="form-group">
            <label>Time</label>
            <input id="timeValue" type="text" class="form-control" placeholder="Example: Thu 5 Apr 2020 13:45">
        </div>
        <div class="form-group">
            <button id="ccBtn" type="button" class="btn btn-info">Convert & Copy</button>
        </div>
        <div class="form-group">
            <input id="convertedTimeValue" class="form-control" type="text" value="">
        </div>
    </div>
</div>

@section Scripts{
    <partial name="JsScripts" />
}