@model CaseManagement.ViewModels.DatacentersTimes.DatacentersTimesIndexOutputModel

<div class="row col-md-12 mx-auto">
    @foreach (var region in Model.TimeZoneRegions)
    {
        <div class="col-md-8">
            <h5 class="text-center mt-2">@region.Name</h5>
            <table class="table table-hover border">
                <thead>
                    <tr class="table-active">
                        <th class="padding01rem" scope="col">Name</th>
                        <th class="padding01rem" scope="col">Tag</th>
                        <th class="padding01rem" scope="col">Date</th>
                        <th class="padding01rem" scope="col">24-hr time</th>
                        <th class="padding01rem" scope="col">12-hr time</th>
                        <th class="padding01rem" scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var datacenter in region.Datacenters)
                    {
                        <tr>
                            <td class="padding01rem">@datacenter.Name</td>
                            <td class="padding01rem">@datacenter.Tag</td>
                            <td class="padding01rem setFromJs" tzIanaName="@datacenter.TzIanaName" format="date"></td>
                            <td class="padding01rem setFromJs" tzIanaName="@datacenter.TzIanaName" format="24hr"></td>
                            <td class="padding01rem setFromJs" tzIanaName="@datacenter.TzIanaName" format="12hr"></td>
                            <td class="padding01rem setFromJs"
                                tzIanaName="@datacenter.TzIanaName"
                                openingAtDay="@datacenter.OpeningAtDay" openingAtTime="@datacenter.OpeningAtTime"
                                closingAtDay="@datacenter.ClosingAtDay" closingAtTime="@datacenter.ClosingAtTime"
                                format="openClose">
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    }
    <div class="col-md-3 position-absolute mt-4 p-0 text-center" style="right:3rem;">
        <div class="form-group">
            <label>Vendor</label>
            <select id="vendorsSelect" class="custom-select">
                @foreach (var vendor in Model.VendorsWithRegions.Vendors)
                {
                    <option>@vendor.Name</option>
                }
                <option selected>Other</option>
            </select>
        </div>
        <div class="form-group">
            <label>Region</label>
            <select id="regionsSelect" class="custom-select">
                @foreach (var vendor in Model.VendorsWithRegions.Vendors)
                {
                    foreach (var region in vendor.Regions)
                    {
                        <option vendorName="@vendor.Name" value="@region.UtcOffset">@region.FullName</option>
                    }
                }
                <option value="0">UTC (0)</option>
            </select>
        </div>
        <div class="form-group">
            <label>Time</label>
            <input id="timeValue" type="text" class="form-control" placeholder="Example: Thu 5 Apr 2020 13:45">
        </div>
        <div class="form-group">
            <button id="ccBtn" type="button" class="btn btn-info">Convert & Copy</button>
        </div>
        <div class="form-group">
            <input id="convertedTimeValue" class="form-control" type="text" value="">
        </div>
    </div>
</div>

@section Scripts{
    <partial name="JsScripts" />
}